@import 'mini.css';
@import './map.css';

footer {
    background: #e65c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.file {
    min-height: 350px;
}

.not_selected {
    border: 2px solid #F9D423;
}

.selected {
    border: #e65c00 2px dashed;
}

.full-width {
    width: 100%
}

.half-height {
    height: 50vh
}

.m-drawer {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 520px;
    height: 100vh;
    overflow-y: auto;
    background: var(--drawer-back-color);
    border: .0625rem solid var(--drawer-border-color);
    border-radius: 0;
    margin: 0;
    z-index: 1110;
    right: -520px;
    transition: right 0.3s;    
    max-width: 100%;
}

.m-drawer.opened {
    right: 0;
}

.m-drawer-close::content {
    content: '×';
    display: inline-block;
/*    position:fixed;
    top:0;
    right:0;
    */
}

